name: Manual Build

on:
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.12

    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Check Version
      id: check_version
      shell: pwsh
      run: |
        $version = Get-Content -Path version.txt
        echo "version=$version" | Out-File -FilePath $env:GITHUB_OUTPUT -Append

    - name: Generate requirements.txt
      shell: cmd
      run: |
        python -m pip install tomli
        python .\buildtools\generate_deps.py

    - name: Install Requirements
      shell: cmd
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools
        python -m pip install pyinstaller
        python -m pip install -U -r requirements.txt
        python -m pip cache purge

    - name: Build EXE
      shell: cmd
      run: |
        python .\buildtools\build_exe.py

    - name: Copy Files
      shell: cmd
      run: |
        xcopy ".\version.txt" ".\dist\LinguaGacha\" /Q /Y
        xcopy ".\resource\" ".\dist\LinguaGacha\resource\" /E /I /Q /H /Y

    - name: Compress Archive
      shell: pwsh
      run: |
        Compress-Archive -Path .\dist\* -DestinationPath "LinguaGacha_${{ steps.check_version.outputs.version }}_windows.zip" -CompressionLevel Optimal -Force

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: windows-zip
        path: LinguaGacha_${{ steps.check_version.outputs.version }}_windows.zip

  build-macos:
    runs-on: macos-latest

    steps:
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.12

    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Check Version
      id: check_version
      shell: bash
      run: |
        version=$(cat version.txt)
        echo "version=$version" >> "$GITHUB_OUTPUT"

    - name: Generate requirements.txt
      shell: bash
      run: |
        python -m pip install tomli
        python ./buildtools/generate_deps.py

    - name: Install Requirements
      shell: bash
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools
        python -m pip install pyinstaller
        python -m pip install -U -r requirements.txt
        python -m pip cache purge

    - name: Generate ICNS
      shell: bash
      run: |
        bash ./buildtools/generate_icns.sh

    - name: Build App
      shell: bash
      run: |
        python ./buildtools/build_app_macos.py

    - name: Copy Files
      shell: bash
      run: |
        cp ./version.txt ./dist/LinguaGacha.app/Contents/MacOS/
        cp -R ./resource ./dist/LinguaGacha.app/Contents/MacOS/resource

    - name: Compress Archive
      shell: bash
      run: |
        ditto -c -k --sequesterRsrc --keepParent ./dist/LinguaGacha.app "LinguaGacha_${{ steps.check_version.outputs.version }}_macos.zip"

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: macos-zip
        path: LinguaGacha_${{ steps.check_version.outputs.version }}_macos.zip

  release:
    runs-on: ubuntu-latest
    needs:
      - build-windows
      - build-macos
    permissions:
      actions: write
      checks: write
      contents: write
      deployments: write
      issues: write
      packages: write
      pages: write
      pull-requests: write
      repository-projects: write
      security-events: write
      statuses: write

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Check Version
      id: check_version
      shell: bash
      run: |
        version=$(cat version.txt)
        echo "version=$version" >> "$GITHUB_OUTPUT"

    - name: Download Windows Artifact
      uses: actions/download-artifact@v4
      with:
        name: windows-zip
        path: .

    - name: Download macOS Artifact
      uses: actions/download-artifact@v4
      with:
        name: macos-zip
        path: .

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: MANUAL_BUILD_${{ steps.check_version.outputs.version }}
        name: LinguaGacha_${{ steps.check_version.outputs.version }}
        draft: true
        prerelease: false
        files: |
          LinguaGacha_${{ steps.check_version.outputs.version }}_windows.zip
          LinguaGacha_${{ steps.check_version.outputs.version }}_macos.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
